<div class="main" #main>
  <div class="boxes" #boxes>
    <div class="box date">10 mar, 2010</div>
    <div class="box bullet"></div>
    <div class="box">
      <p class="code">CODE</p>
      <p>Event data, unusual parachute falling down</p>
      <p>100%</p>
    </div>
    <div class="box">
      <p class="code">CODE</p>
      <p>Event data, unusual parachute falling down</p>
      <p>100%</p>
    </div>
    <div class="box">
      <p class="code">CODE</p>
      <p>Event data, unusual parachute falling down</p>
      <p>100%</p>
    </div>
    <div class="box">
      <p class="code">CODE</p>
      <p>Event data, unusual parachute falling down</p>
      <p>100%</p>
    </div>
    <div class="box date">11 mar, 2010</div>
    <div class="box bullet"></div>
    <div class="box">
      <p class="code">CODE</p>
      <p>Event data, unusual parachute falling down</p>
      <p>100%</p>
    </div>
    <div class="box">
      <p class="code">CODE</p>
      <p>Event data, unusual parachute falling down</p>
      <p>100%</p>
    </div>
    <div class="box">
      <p class="code">CODE</p>
      <p>Event data, unusual parachute falling down</p>
      <p>100%</p>
    </div>
    <div class="box">
      <p class="code">CODE</p>
      <p>Event data, unusual parachute falling down</p>
      <p>100%</p>
    </div>
  </div>
  <div class="divisor">
  </div>
</div>
